<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoffeeChart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoffeeChart.styles.css" asp-append-version="true" />
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border shadow">
            <div class="container-fluid justify-content-center text-center">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="/img/CoffeeBanner.png" alt="Coffee Banner" height="100" class="me-3" />

                    <a class="navbar-brand mb-0 fs-3 fw-bold text-dark" asp-area="" asp-controller="Home"
                        asp-action="Index">
                        CoffeeChart
                    </a>
                    <button class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3 mt-1">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CoffeeChart - <a asp-area="" asp-controller="Home">Tuğba Musaak</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>